<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-row class="ion-justify-content-between">
      <ion-col size="9">

        <ion-title style="font-size:large; font-weight: bold;">
          <br>
          Coversando en de Aula

          <br>
        </ion-title>
        <br>
      </ion-col>
      <ion-col size="3" sizeMd="2" style="top: 0.5rem;">
        <ion-button (click)="logOut()" id="cerrar" shape="round">
          <ion-icon name="power" slot="icon-only"></ion-icon>

        </ion-button>

      </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>
<ion-loading trigger="cerrar" message="Cerrando..." [duration]="3000" spinner="circles"></ion-loading>

<ion-content [fullscreen]="true" color="secondary">
  <ion-row class="container">
    <ion-col size="12" class="top text-center" (click)="chat1()">
      <div class="contenedor">
        <img src="assets/4a.png" style="width: 80%;" alt="4a">
        <div class="centradoTop"></div>
      </div>
    </ion-col>
    <ion-col size="12" class="bottom text-center" (click)="chat2()">
      <div class="contenedor">
        <img src="assets/4b.png" style="width: 80%;" alt="4b">
        <div class="centradoBot">
        </div>
      </div>
    </ion-col>
  </ion-row>


</ion-content>