<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true" class="text-center">


  <ion-grid>
    <br>
    <br>
    <br>
    <br>
    <ion-row class="ion-justify-content-around text-center" style="top:4rem;">
      <ion-col style="left: 3.5em">
        <img src="assets/icon.png" alt="logo" class="roll-in-left">
      </ion-col>
    </ion-row>
    <br>

    <ion-row class="ion-justify-content-around ion-text-center">
      <ion-col size="10" style="top: 2.5em">
        <ion-text color="tertiarty">

          <h1 class="levitation" style="top: 13rem;left: 1.1em; font-size:xx-large; font-weight: bold;">Alejandro
            Heidenreich</h1>
        </ion-text>
        <ion-text>
          <h1 class="levitation" style="top: 19rem;left: 1.1em; font-size:xx-large; font-weight: bold;">División A</h1>

        </ion-text>
      </ion-col>
      <ion-col size="10">
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around text-center">


    </ion-row>
  </ion-grid>

</ion-content>